@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*,
*::before,
*::after{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        list-style-type: none;
        text-decoration: none;
}

html{
        font-family: 'Roboto', sans-serif;
}

body{
        width: 100vw;
        padding: 1em;
        overflow-x: hidden;
        background-color: #EEEDE7;
        text-align: center;
}

h1{
        margin: 1em 0;
}

.container{
        max-width: 840px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
}

.img{
        display: block;
        width: 200px;
        height: 200px;
        background-color: #000;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

